<a href="https://colab.research.google.com/github/Vineela2003/coding/blob/main/29082023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=19
while n>5:
  s=0
  while n>0:
    r=n%10
    s=s+r**2
    n=n//10
  n=s
if (s==1):
  print("Happy Number")
else:
  print("not happy")

Happy Number

In [ ]:
n1="123"
n2="11"
l1=int(n1)
l2=int(n2)
l=l1+l2
print(str(l))

134

In [12]:
n=[0,2,3]
k=0
for i in range(len(n)+1):
  if i not in n:
    k+=i
    print(k)

1